<br>
<div>
    {{count}} notes saved <br><br>
    Last amend: {{ date | date:"MM/dd/yy hh:mm" }}<br>

</div>

<h3>Selection page</h3>
<div class="grid grid-pad">
<!-- 	{{priorityNotes.name}}
 -->  

<!--  <div class="row">
 	 <div *ngFor="let note of priorityNotes" (click)="gotoDetail(note)" class="col-1-4">
    <div class="module note">
      <h4>{{note.name}}</h4>
    </div>
  </div>
</div>
 -->
<div style="width: 100%; clear: both; margin-top: 150px; ">
	<a routerLink="/question" >Question</a>
</div>
 </div>



