<!-- 
	ngIf and ngFor are called “structural directives” because they can change the structure of portions of the DOM. 
	https://angular.io/docs/ts/latest/guide/structural-directives.html
	-->  
<div *ngIf="note">
  <h2>{{note.name}} details! </h2>
  <div>
    <label>id: </label>{{note.id}}
  </div>
  <div>
    <label>name: </label>
     <!-- Two way binding 
    The parenthesis identify the <li> element’s click event as the target. The expression 
    to the right of the equal sign calls the AppComponent method, onSelect(), passing the 
    template input variable note as an argument. That’s the same note variable we 
    defined previously in the ngFor
    https://angular.io/docs/ts/latest/guide/user-input.html
    -->
    <input [(ngModel)]="note.name" placeholder="name" />    
    
  </div>
   <div>
     <label>text: </label>{{note.text}}
  </div>
  <div>
    <label>high priority?: </label>{{note.highPriority?'Yes':'No'}}
    <br>
    {{note.highPriority?'Untick to remove High Priority':'Tick to make note High Priority'}}
    <input   [ngModel]="note.highPriority" type="checkbox" (change)="checkbox(note)">
  </div> 
  <button (click)="goBack()">Back</button>
</div>
