<br>
<div>
    {{count}} notes saved <br><br>
    Last amend: {{ date | date:"MM/dd/yy hh:mm" }}<br>

</div>

<h3>Quiz page</h3>
<div class="grid grid-pad">
<!-- 	{{priorityNotes.name}}
 -->  

<!--  <div class="row">
 	 <div *ngFor="let note of priorityNotes" (click)="gotoDetail(note)" class="col-1-4">
    <div class="module note">
      <h4>{{note.name}}</h4>
    </div>
  </div>
</div>
 -->

 <!-- get note with id 1 -->

 <!-- {{question.id}} -->
 <h5>Please answer this question</h5>
 <p>{{question.text}}</p>

 <h5>Please select from these answers</h5>

 <p>{{answerGroup.text}}</p>

<!-- Add [checked]="idx === 0" to input to have first item selected -->
 	  <li *ngFor="let item of answerGroup.items; let idx = index">
		    <span class="badge">{{item}}</span> 
		    <input type="radio" name="radiogroup"
		     
		     [value]="item" (change)="onSelectionChange(item)" >
<!-- 		    {{item}}
 -->	  </li>

<!--  <button (click)="gotoDetail()">Submit</button>
 -->

<div style="width: 100%; clear: both; margin-top: 150px; ">
	<a routerLink="/question" >Question</a>
</div>
 </div>



